
.matches-table th,
.matches-table td {
  vertical-align: middle;
}
.btn-pink {
  background-color: #e29cf1;
  color: #000;
  border-radius: 2rem;
  padding: 0.5rem 1.5rem;
  border: none;
}

.ms-2{
  background-color: #7b66b8;
  padding: 5px;
  border-radius: 5px;
}
