
.matches-table th,
.matches-table td {
  vertical-align: middle;
}
.btn-pink {
  background-color: #e29cf1;
  color: #000;
  border-radius: 2rem;
  padding: 0.5rem 1.5rem;
  border: none;
}

.ms-2{
  background-color: #b16eb9;
  color: whitesmoke;
  border-radius: 1rem;
  padding: 9px;
  border: #fdfdfd;
}

.ms-1{
  background-color: rgb(189, 51, 51);
}
.ms-1:hover{
  background-color: rgb(225, 72, 72);
}
