/* File: src/pages/AdminTotalMatches.css */

.admin-matches-page main {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
}

.matches-table th,
.matches-table td {
  vertical-align: middle;
}

.matches-table th {
  font-size: 1.1rem;
}

.matches-table tbody tr:nth-child(odd) {
  background: #f8f0ff;
}

.loading-text {
  font-size: 18px;
  font-weight: bold;
  color: #0d6efd; /* Bootstrap primary blue */
  text-align: center;
  animation: blink 1.2s infinite;
}

@keyframes blink {
  50% {
    opacity: 0.5;
  }
}

.text-warning{
  color: blue;
}

