/* File: src/pages/AdminDashboard.css */

/* Analytics Cards */
.analytics-card {
    background-color: #f3e5f5; /* very light purple */
    border: 1px solid #d1c4e9;
    border-radius: 0.75rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    flex: 1;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-weight: bolder;
  }
  
  .analytics-card:hover {
    background-color: #e1bee7;
  }
  
  .analytics-icon {
    font-size: 1.5rem;
    margin-right: 0.75rem;
    color: #6d46b0; /* medium purple */
  }
  
  /* Action Buttons */
  .btn-add-donor {
    background-color: #5746a2; /* pink */
    color: #000;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1.25rem;
    transition: background-color 0.2s ease;
font-weight: bolder;
  }
  
  .btn-add-donor:hover {
    background-color: #6b4aa9;
  }
  
  .btn-approved {
    background-color: #337936; /* lavender */
    color: #000;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1.25rem;
    transition: background-color 0.2s ease;
    color: whitesmoke;
    font-weight: bolder;
  }
  .btn-approved:hover{
    background-color:  #46a04b;
  }
  
  
  
  .btn-rejected {
    background-color: #8d2929; /* orange */
    color: #fff;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1.25rem;
    transition: background-color 0.2s ease;
  }
  .btn-rejected:hover{
    background-color: #923e3e;
    color: white;
  }
  
  
  
  /* Logout Button */
  .btn-logout {
    background-color: #dc3545; /* bootstrap danger */
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.2s ease;
    font-weight: bolder;
  }
  
  .btn-logout:hover {
    background-color: #c82333;
  }
  
  .admin-page {
  background: url('../assets/back\ 2.png') no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}




