
.Toastify__toast {
  border-radius: 10px;
  font-family: 'Segoe UI', sans-serif;
  font-size: 0.95rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.Toastify__toast--error {
  background-color: #ffcccc;
  color: #8b0000;
}

.Toastify__toast--success {
  background-color: #d4edda;
  color: #155724;
}
