/* src/pages/WelcomePage.css */

.welcome-container {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: auto;
  z-index: 10;

   width: 240px;
  height: auto;
}

.welcome-content {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 50px;
  box-sizing: border-box;
}

.image-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parents-img {
  max-width: 100%;
  height: auto;
  border-radius: 30px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.text-side {
  flex: 1;
  color: #134e4a;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-side h1 {
  font-size: 3rem;
  margin-bottom: 15px;
  font-weight: 600;
}

.text-side p {
  font-size: 1.3rem;
  margin-bottom: 25px;
}

.view-btn {
  padding: 10px 25px;
  font-size: 1rem;
  border: 1px solid #134e4a;
  background-color: #f5f5f5;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;

  width: 100px;
}

.view-btn:hover {
  background-color: #134e4a;
  color: white;
}
