/* src/components/NavbarHome.css */

.navbar-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 999;
}

.logo-home {
  width: 100px;
  height: auto;
}

.socials-home {
  display: flex;
  gap: 15px;
  font-size: 1.2rem;
  color: #333;
}

.auth-buttons-home {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.btn-login {
  background: white;
  color: black;
  border-radius: 20px;
  padding: 6px 16px;
  font-weight: 600;
  border: none;
}

.btn-signup {
  background: #6e2c91;
  color: white;
  border-radius: 20px;
  padding: 6px 16px;
  font-weight: 600;
  border: none;
}
